RAINPULSE_NATS_URL=nats://REPLACE_WORKER_USER:REPLACE_WORKER_PASSWORD@127.0.0.1:4222
RAINPULSE_OBJECT_STORE_ENDPOINT=http://127.0.0.1:9000
RAINPULSE_OBJECT_STORE_ACCESS_KEY=REPLACE_WORKER_ACCESS_KEY
RAINPULSE_OBJECT_STORE_SECRET_KEY=REPLACE_WORKER_SECRET_KEY
RAINPULSE_MAX_INPUT_ARTIFACT_BYTES=2147483648
